body {
    max-width: 100%;
    margin: 0;
    background: #f3f7fb;
    border: 2px solid black;
}

.container{
    padding: 20px 10px;
}

header {
    padding: 20px 0px;
    border-radius: 8px;
    border: 2px solid black;
    background: linear-gradient(90deg, #0f76c9, #2fb0ff);
    color: #f8fbff;                    /* texto claro en nav */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.nav .logo{
    display: flex;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: rgb(27, 8, 80);
    text-decoration: none;
}

nav a:hover{
    color: blueviolet;
}

.articulos{
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap: 60px;
    border: 2px solid black;
    margin: 50px 0px;
    background: #ccebff;
}
.primer-articulo{
    width: 30%;
    border: 2px solid black;
}
.segundo-articulo{
    width: 30%;
    border: 2px solid black;
}
.tercer-articulo{
    width: 30%;
    border: 2px solid black;
}

.articulos article img{
    width: 500px ;
    height: 300px;
}

.deportes{
    display: flex;
    padding: 40px 20px;
    gap: 60px;
    border: 2px solid black;
    margin: 50px 0px;
    background: #ccebff;
}
.natacion{
    width: 70%;
    border: 2px solid black;
    
}

.noticias-mas-leidas{
    border: 2px solid black;
    width: 20%;
    
}


.footer{
    
    gap: 60px;
    border: 2px solid black;
    background:rgb(19, 114, 182);
    color: white;
    
}

.footer > div{
    display: inline-block;
    width: 20%;
}

.footer ul li{
    list-style: none;
    margin-right: 18px;
    margin-bottom: 12px;
}

.footer ul li:hover{
    color: blueviolet;
}

.copyright{
    width: 100%;
    background: rgb(13, 81, 130);
    display: flex;
    justify-content: center;    
    align-content: center; 
}